body {
  /* margin-top: -25px; */
  /* margin-bottom: 25px; */
  padding: 0;
}

.ant-form {
  line-height: 2;
}

.ant-card-body {
  padding: 15px;
}

.ant-card-head-title {
  padding: 5px;
}

.ant-form-item {
  margin-bottom: 5px;
}

.form-style {
  line-height: 0.3;
}

.label-style {
  font-weight: bold;
}

.company-style:hover {
  cursor: pointer;
  /* color: orangered;
  background-color: rgba(0, 0, 0, 0.3); */
  color: white;
  background-color: orangered;
}

.white {
  color: rgba(255, 255, 255, 1);
}

.modal-p {
  font-size: 26;
  /* color: red; */
  line-height: 0.5;
}

.ant-form-item-label label {
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
}

td.ant-table-column-has-actions.ant-table-column-has-sorters {
  cursor: pointer;
}