.ant-layout-header {
  /* background: #001529; */
  background: white;
  padding: 0 50px;
  height: 64px;
  line-height: 64px;
}

.ant-layout-sider-children {
  background: white;
  height: 100%;
  padding-top: 0.1px;
  margin-top: -0.1px;
}
