body {
  /* margin-top: -25px; */
  /* margin-bottom: 25px; */
  padding: 0;
}
/* 
.ant-form {
  line-height: 2;
}

.ant-card-body {
  padding: 15px;
}

.ant-card-head-title {
  padding: 5px;
}

.ant-form-item {
  margin-bottom: 5px;
}

.form-style {
  line-height: 0.3;
}

.label-style {
  font-weight: bold;
}

.company-style:hover {
  cursor: pointer;
  /* color: orangered;
  background-color: rgba(0, 0, 0, 0.3); */
/* color: white;
  background-color: orangered;
}

.white {
  color: rgba(255, 255, 255, 1);
}

.modal-p {
  font-size: 26;
  /* color: red; */
/* line-height: 0.5;
}

.ant-form-item-label label {
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
}

td.ant-table-column-has-actions.ant-table-column-has-sorters {
  cursor: pointer; */

#header {
  background: #fff;
  -webkit-box-shadow: 0 2px 8px #f0f1f2;
  box-shadow: 0 2px 8px #f0f1f2;
  position: relative;
  z-index: 10;
  max-width: 100%;
}
/* }  */

.clearfix {
  zoom: 1;
}

#logo {
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  padding-left: 40px;
  float: left;
  height: 64px;
  line-height: 64px;
  text-decoration: none;
  white-space: nowrap;
}

.nav-phone-icon {
  display: none;
  position: absolute;
  right: 30px;
  top: 25px;
  z-index: 1;
  width: 16px;
  height: 22px;
  cursor: pointer;
}

.anticon {
  display: inline-block;
  font-style: normal;
  vertical-align: -0.125em;
  text-align: center;
  text-transform: none;
  line-height: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .ant-col-xs-24 {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
} */

/* @media only screen and (min-width: 600px) {
  height: 100vh;
} */

/* @media (min-width: 768px) {
  .ant-col-md-19 {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 79.16666667%;
  }
  .ant-col-md-5 {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 20.83333333%;
    float: left;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
} */

@media only screen and (max-width: 767.99px) {
  #header #logo {
    float: initial;
  }
  .nav-phone-icon {
    display: block;
  }

  #header {
    text-align: center;
  }
}

@media only screen and (max-width: 1200px) {
  #logo {
    padding: 0 40px;
  }
}
